<div id="sign-up">
  <div class="singUpCard">
    <h2 class="loginTitle">Registrate en nomina</h2>

    <%= simple_form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { class: "loginForm" }) do |f| %>
      <%= f.error_notification %>

      <div class="signUpForm">
        <%= f.input :first_name,
                    label: "Primer nombre",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "given-name" }%>

        <%= f.input :middle_name,
                    label: "Segundo nombre",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "additional-name" }%>

        <%= f.input :last_name,
                    label: "Apellido paterno",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "family-name" }%>

        <%= f.input :last_name_2,
                    label: "Apellido materno",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "family-name" }%>

        <%= f.input :birth_date,
                    label: "Fecha de nacimiento",
                    as: :string,
                    required: true,
                    autofocus: true,
                    input_html: { data: { controller: "datepicker"} }%>

        <%= f.input :photo, as: :file, label: "Foto" %>


        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Registrarse", class: "loginBtn" %>
      </div>


      <div class="loginLinks">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
